@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@700&display=swap');
body{
  /* background-color: #282c34; */
  background-color: rgba(221,221,221,255);
}

.links{
  color: aliceblue;
}

a:hover{
  color: orange;
}
a{
  color: aliceblue;
}

.toolkit{
  color: aliceblue;
}


