@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:regular,bold,italic&subset=latin,latin-ext');

body{
    font-family: 'Bebas Neue', cursive;
  font-family: 'Comfortaa', cursive;
  font-family: 'Inconsolata', monospace;
  font-family: 'Lato', sans-serif;
  font-family: 'Montserrat', sans-serif;
  font-family: 'Open Sans', sans-serif;
  font-family: 'Roboto Mono', monospace
}