.projectsCont{
    margin-top: 8%;
    width: 100%;
    border-radius: 5px;
    background-color: #212529;
    padding: 10px;
    color: aliceblue;
}

iframe{
    border-radius: 15px;
}

h1{
    color: aliceblue;
}

.prj{
    padding: 35px;
    justify-content: center;
}

.prjDesc{
    font-size: small;
    font-style: italic;
}
.prjTech{
    font-size: small;
    font-style: italic;
}

.prjBtn{
    width: 175px;
    margin: 5px;
}