@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@700&display=swap');

body {
  background-image: url("./images/IMG_0628.jpg");
  background-size: cover;                      /* Ensures the background covers the entire viewport */
  background-attachment: fixed;
  background-position: center center; 
  overflow: auto;  /* Allows scrolling */
  scrollbar-width: none;  /* Hides scrollbar in Firefox */
}

body::-webkit-scrollbar {
  width: 0;  /* Hides scrollbar in Chrome, Safari, and other WebKit-based browsers */
  background: transparent;  /* Optional: hides scrollbar track */
}
